<%= form_with(model: clinic) do |form| %>
  <% if clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
        <% clinic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <div class="field controls">
    <%= form.label :image %>
    <%= form.file_field :image, multiple: true %>
  </div>

  <div class="field controls">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field controls">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field controls">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field controls">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div class="field controls">
    <%= form.label :information %>
    <%= form.text_field :information %>
  </div>

  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
<%= link_to 'CREAR NUEVA NOTA', new_note_path%>