<%= form_with(model: clinic) do |form| %>
  <% if clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinic.errors.count, "error") %> prohibited this clinic from being saved:</h2>

      <ul>
        <% clinic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <div class="field controls">
    <%= form.file_field :logo, multiple: false %>
    
  </div>

  <div class="field controls">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field controls">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field controls">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field controls">
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div class="field controls">
    <%= form.label :information %>
    <%= form.text_field :information %>
  </div>

  <%= image_tag @clinic.logo, class:"m-5 p-5" if @clinic.logo.attached? %>

  <div class="actions">
    <%= form.submit%>
  </div>


<% end %>
 