<%= form_with(model: @note, local: false) do |form| %>
 

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :consult_reason %>
    <%= form.text_field :consult_reason %>
  </div>

   <div class="field">
    <%= form.label :patient_id  %>
    <%= form.select :patient_id  , Patient.pluck(:first_name, :id) %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.select :doctor_id , Doctor.pluck(:name, :id) %>
  </div>

   <div class="actions">
    <%= form.submit data: {disable_with: 'submitting...'}%>
  </div>
<% end %>