<%= form_with(model: @note, local: false) do |form| %>
 

  <div class="form-group">
  <strong> <%= form.label :message, class:"control-label" %> </strong>
  <%= form.text_field :message, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group">
  <strong>  <%= form.label :consult_reason, class:"control-label" %> </strong>
  <%= form.text_field :consult_reason, autofocus: true, class:"form-control" %>
  </div>

 
   <div class="field">
    <strong> <%= form.label :patient_id  %> </strong>
    <%= form.select :patient_id  , Patient.pluck(:first_name, :id) %>
  </div>

  <div class="field">
    <strong> <%= form.label :doctor_id %> </strong>
    <%= form.select :doctor_id , Doctor.pluck(:name, :id) %>
  </div>

   <div class="actions">
    <%= form.submit data: {disable_with: 'submitting...'}%>
  </div>
<% end %>