<td><%= note.message%></td>
<td><%= note.consult_reason %></td>
<td><%= link_to 'Show', note, remote: true %></td>
<td><%= link_to 'Edit', edit_note_path(note), remote: true %></td>
<td><%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>