<p id="notice"><%= notice %></p>

<h1>Notas del Doctor</h1>

<table>
  <thead>
    <tr>
      <th> <input class="controls" placeholder="Mensaje"></th>
      <th> <input class="controls" placeholder="Razón de Consulta"></th>
      <th> <input class="controls" placeholder="Paciente"></th>
      <th> <input class="controls" placeholder="Doctor"></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.message %></td>
        <td><%= note.consult_reason %></td>
        <td><%= note.patient_id %></td>
        <td><%= note.doctor_id %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Note', new_note_path %>

  
