
<div class="alert alert-primary" role="alert">
  Bienvenido Doctor!
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <strong><%= f.label :email%><br /></strong>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <br>
    <strong><%= f.label :password%><br /></strong>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <br>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <strong><%= f.label :remember_me %></strong>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "doctors/shared/links" %>
