<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      
      <%= link_to root_path, class: "navbar-brand" do %>
      <img src="<%= asset_path 'logo_provisional.svg' %>" width="50"/>
      <span class="sr-only">(current)</span>
      <% end %> 
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      
      <%= link_to 'Inicio', root_path, class:"navbar-brand text-white nav-item "%>
      <%= link_to 'Doctores', new_doctor_session_path, class:"navbar-brand text-white nav-item "%>
      <%= link_to 'Administradores', dashboard_doctors_index_path, class:"navbar-brand text-white nav-item "%>
      <div class="navbar-nav ml-auto " >

      
     
        <% if doctor_signed_in?  %>
           <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true"> <%=current_doctor.email %></a>
        <%= link_to 'Log Out', destroy_doctor_session_path, method: :DELETE, class:"nav-link text-white"  %>
        
        <% else %>
          <%= link_to 'Sign in', new_doctor_session_path, class:"nav-link text-white" %>
        <% end  %>

        <% if patient_signed_in?  %>
           <a class="nav-link disabled text-white" href="#" tabindex="-1" aria-disabled="true"> <%=current_patient.email %></a>
        <%= link_to 'Log Out', destroy_patient_session_path, method: :DELETE, class:"nav-link text-white"  %>
        
        <% else %>
          <%= link_to 'Sign in', new_patient_session_path, class:"nav-link text-white" %>
        <% end  %>

        

    </div> 
    </div>
  </nav>

