<nav class="navbar navbar-expand-lg navbar-light bg-info text-light">

       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Inicio', root_path, class:"navbar-brand text-white"%>
      <%= link_to 'Doctores', new_doctor_session_path, class:"navbar-brand text-white"%>
      <%= link_to 'Administradores', dashboard_doctors_index_path, class:"navbar-brand text-white"%>
      <div class="navbar-nav ml-auto">
     
        <% if doctor_signed_in?  %>
           <a class="nav-link disabled text-dark" href="#" tabindex="-1" aria-disabled="true"> <%=current_doctor.email %></a>
        <%= link_to 'Log Out', destroy_doctor_session_path, method: :DELETE, class:"nav-link text-white"  %>
        
        <% else %>
          <%= link_to 'Sign in', new_doctor_session_path, class:"nav-link text-white" %>
        <% end  %>
    </div> 
    </div>
  </nav>

