<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
      <%= link_to 'Inicio', root_path, class:"navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Doctores', new_doctor_session_path, class:"navbar-brand"%>
      <%= link_to 'Pacientes', new_patient_session_path, class:"navbar-brand"%>
      <%= link_to 'Colaboradores', dashboard_doctors_index_path, class:"navbar-brand"%>
      <div class="navbar-nav ml-auto">
     
        <% if doctor_signed_in?  %>
           <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> <%=current_doctor.email %></a>
        <%= link_to 'Log Out', destroy_doctor_session_path, method: :DELETE, class:"nav-link" %>
        
        <% else %>
          <%= link_to 'Sign in', new_doctor_session_path, class:"nav-link" %>
        <% end  %>
    </div> 
    </div>
  </nav>