<p id="notice"><%= notice %></p>
  <%= link_to 'Ingresar Nuevo Doctor', new_maintenance_doctor_path, class:"btn btn-primary button-color float-right" %>

<h1>Mantenimiento Doctores</h1>
<table>
  <thead>
    <tr>
      <th>Email:</th>
      <th>Nombre:</th>
      <th>Especialidad:</th>
      <th>Escuela:</th>
      <th>Teléfono:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.email %></td>
        <td><%= doctor.name %></td>
        <td><%= doctor.specialty %></td>
        <td><%= doctor.school %></td>
        <td><%= doctor.phone%></td>
        <td><%= link_to 'Editar', edit_maintenance_doctor_path(doctor) , class:"btn btn-primary button-color float-right" %></td>
        <td><%= link_to 'Eliminar',maintenance_doctor_path(doctor), method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-primary button-color float-right"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




       
        
