<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.time_select :hour %>
  </div>

   <div class="field">
    <%= form.label :clinic_id %>
    <%= form.select :clinic_id , Clinic.pluck(:name, :id) %>
    </div>

    <div class="field">
    <%= form.label :doctor_id %>
    <%= form.select :doctor_id , Doctor.pluck(:name, :id) %>
    </div>

  <input type="text" id="time"/>
   
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
