<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   

  ///////////////AGREGAR NOMBRE DE CLINICA, NO SELECT
  <div class="field">
   <%= form.label :name%>
    <%= form.text_field :name %>
  </div>
   <br>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>
  

  <div class="row btn-group">
    <%= form.label :hour %>
    <% hours= {'9:00 a.m.' => 'cita1','9:30 a.m.' => 'cita2','10:00 a.m.' => 'cita3', '10:30 a.m.' => 'cita4','11:00 a.m.' => 'cita5','11:30 a.m.' => 'cita6', '1:30 p.m.' => 'cita7', '2:00 p.m.' => 'cita8', '2:30 p.m.' => 'cita9', '3:00 p.m.' => 'cita10', '3:30 p.m.' => 'cita11', '4:00 p.m.' => 'cita12', '4:30 p.m.' => 'cita13', '5:00 p.m.' => 'cita14'}%>
    
    <fieldset style="border:#F00 1px solid; background-color:#3376; rounded reveal-if-active">
       <% lista = hours %>
       <% lista.uniq!.each do |hour| %>
          <%= form.radio_button :hour, hour[1], class:'radio' %>
          <label for="<%= hour[1] %>"><%= hour[0] %></label> 
       <% end %>
    </fieldset>
  </div>



   <div class="field">
    <%= form.label :clinic_id %>
    <%= form.select :clinic_id , Clinic.pluck(:name, :id) %>
    </div>

    <div class="field">
    <%= form.label :doctor_id %>
    <%= form.select :doctor_id , Doctor.pluck(:name, :id) %>
    </div>

   
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
