<p id="notice"><%= notice %></p>

<h1>Citas</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Hour</th>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Clinic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.hour %></td>
        <td><%= appointment.patient.first_name%></td>
        <td><%= appointment.doctor.name%></td>
        <td><%= appointment.clinic.name%></td>
        <td><%= link_to 'Show', appointment, class:"btn btn-primary button-color float-right"  %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment), class:"btn btn-primary button-color float-right" %></td>
        <td><%= link_to 'Destroy', appointment, class:"btn btn-primary button-color float-right", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>