<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoClinicas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4ea700da30.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h4>Timepicker</h4>
    <input type="text" name="time" id="timepickerexample">

      <div class="container container-min-height">
          <%= yield %>
      </div>
    
    <%= render 'shared/footer' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
   
   <script type="text/javascript">
      $(document).ready(function(){
        $('#timepickerexample').timepicker({
         
          formatTime: 'H:i',
          formatDate: 'Y/m/d',
          interval: 30,
          minTime: '10',
          maxTime: '6:00​pm',
          defaultTime: '11',
          startTime: '10:00',
          dynamic: true,
          dropdown: true,
          scrollbar: true
        });
      });

   </script>
   
   </body>
</html>