<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoClinicas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4ea700da30.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% link_to 'Inicio', root_path, class:"navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav ml-auto">
     
        <% if patient_signed_in?  %>
           <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> <%=current_patient.email %></a>
        <%= link_to 'Log Out', destroy_patient_session_path, method: :DELETE, class:"nav-link" %>
        <a href="<%= carts_path %>"> 
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-shopping-cart fa-w-18 fa-9x"><path fill="currentColor" d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z" class=""></path></svg> 
          <span class="badge badge-danger"> <%= current_order.order_items.sum(&:quantity)  %> </span> 
          <span class="total"> $<%= current_order.total %></span>
        </a> 
        <% else %>
          <%= link_to 'Sign in', new_patient_session_path, class:"nav-link" %>
        <% end  %>
    </div> 
    </div>
  </nav>

    <%= yield %>
  </body>

  <!-- Empieza Footer-->
<footer class="container-fluid text-white font-weight-lighter bg-info mt-5 fixed-bottom">
    <div class="container icons d-flex justify-content-between align-items-center pt-3">
      <h4 class="text-success"></h4>
        <ul class="footer-icons list-style-none text-white text-decoration-none">
            <li class="d-inline ">
                <a href="https://www.github.com"><i class="fab fa-github-square fa-2x pl-2 text-white"></i></a>
            </li>
            <li class="d-inline">
              <a href="https://www.linkedin.com"><i class="fab fa-linkedin fa-2x pl-2 text-white"></i></a>
            </li>
            <li class="d-inline">
                <a href="https://www.twitter.com"><i class="fab fa-twitter-square fa-2x pl-2 text-white"></i></a>
            </li>
            <li class="d-inline">
              <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-2x pl-2 text-white"></i></a>
            </li>
          </ul>
		  <ul class="menu">
			<li>&copy; ElianDesign. All rights reserved.</li><li class="text-white">Design:HTML5 UP</li>
		</ul>
		<br>
        </div>
        
  </footer>
</html>