<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoClinicas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4ea700da30.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Inicio', root_path, class:"navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Doctores', new_doctor_session_path, class:"navbar-brand"%>
      <%= link_to 'Pacientes', new_patient_session_path, class:"navbar-brand"%>
      <%= link_to 'Colaboradores', dashboard_doctors_index_path, class:"navbar-brand"%>
      <div class="navbar-nav ml-auto">
     
        <% if doctor_signed_in?  %>
           <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> <%=current_doctor.email %></a>
        <%= link_to 'Log Out', destroy_doctor_session_path, method: :DELETE, class:"nav-link" %>
        
        <% else %>
          <%= link_to 'Sign in', new_doctor_session_path, class:"nav-link" %>
        <% end  %>
    </div> 
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<div class="container container-min-height">
  <%= yield %>
</div>

  </body>

  <!-- Empieza Footer-->
<div>
<footer class="container-fluid text-white font-weight-lighter bg-info mt-1">
    <div class="d-flex justify-content-between align-items-center pt-0">
      <h4 class="text-success"></h4>
        <ul class="footer-icons list-style-none text-white text-decoration-none">
            <li class="d-inline ">
                <a href="https://www.github.com"><i class="fab fa-github-square fa-2x pl-2 text-white"></i></a>
            </li>
            <li class="d-inline">
              <a href="https://www.linkedin.com"><i class="fab fa-linkedin fa-2x pl-2 text-white"></i></a>
            </li>
            <li class="d-inline">
                <a href="https://www.twitter.com"><i class="fab fa-twitter-square fa-2x pl-2 text-white"></i></a>
            </li>
            <li class="d-inline">
              <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-2x pl-2 text-white"></i></a>
            </li>
          </ul>
		  <ul class="menu">
			<li>&copy; ElianDesign. All rights reserved.</li><li class="text-white">Design:HTML5 UP</li>
		</ul>
  </footer>
  </div>
</html>